.base-container {
    height: 100vh;
    .tool-bar {
        height: 60px;
        .logo {
            width: 70px;
        }
        .search-bar-container {
            width: calc(100vw - 90px);
            .whiteInputContainer {
                width: 70%;
            }
        }
    }
    .main-container {
        height: calc(100vh - 60px);
        overflow-y: auto;
        background: #0d9bfc26;
    }
}

.search-icon-box {
    height: 40px;
    width: 60px;
    margin-right: 1em;
}

@media only screen and (max-width: 600px) {
    .whiteInputContainer {
        width: 80% !important;
    }
}
